body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
	padding: 10px;
}

.title {
  background: #e3f4ff;
	margin: 0px 0px 10px;
	padding: 10px;
	font-size: 16px;
}

.content {
  background: #e3f4ff;
	margin: 0px 0px 10px;
	padding: 10px;
}

<<<<<<< HEAD:margin-and-padding/margin-and-padding-2/style.css
.button {
	text-align: center;
=======
.button-container {
>>>>>>> upstream/main:margin-and-padding/02-margin-and-padding-2/style.css
  background: #e3f4ff;
	height: 55px;
	padding: 10px;
}

button {
	display: block;
  background: white;
  border: 1px solid #eee;
	padding: 5px 20px;
	margin: 0 auto;
}