.dropdown-container {
  position: relative;
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);
  max-height: 0px;
  transition: max-height 1s ease;
}

ul.dropdown-menu li {
  height: 0;
  transition: height 1s ease;
  pointer-events: none;
}

ul.dropdown-menu.visible li {
  height: 100%;
  pointer-events: all;
}

ul.dropdown-menu.visible li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  max-height: 1000px;
  animation-duration: 750ms;
  animation-name: menu-bounce;
  animation-iteration-count: 1;
  transform-origin: top;
  animation-fill-mode: forwards;
}

@keyframes menu-bounce {
  0% {
    transform: scaleY(0%);
  }
  90% {
    transform: scaleY(110%);
  }
  100% {
    transform: scaleY(100%);
  }
}


.test ul {
  height: 5px;
  transition: height 1s linear;
}

.test li {
  height: 5px;
}

button:hover {
  background-color: green;
}

button:hover + ul {
  height: 100px;
  background-color: gainsboro;
  transition: height 1s linear;
}

button:hover + ul > li {
  height: 100px;
}